<div class="process-container section-container">
  <div class="container">
    <h2>Agiler Prozess</h2>
    <div class="row equal">
      <div class="col-sm-6 process-grid">
        <div class="process-box">
          <div class="process-text-content">
            <h3 class="process-title">Direkte Kommunikation, klare Verantwortlichkeiten</h3>
            <p class="process-description">
              Wir lassen mit uns reden – am liebsten ganz direkt und unkompliziert. In unserem gemeinsamen Projekt treten wir als selbstorganisiertes Team auf. Sie konzentrieren sich auf Ihr Produkt, gestalten Ideen und treffen als Product Owner zentrale Entscheidungen.
              Wir unterstützen Sie dabei, strukturieren den Entwicklungsprozess und setzen Ihre Ideen um.
            </p>
          </div>
          <div class="process-swing-area">
            <figure>
              <img src="./assets/img/schaukel.jpg">
              <figcaption>Was sie sich vorgestellt haben</figcaption>
            </figure>
            <figure>
              <img src="./assets/img/schaukel.jpg">
              <figcaption>Wie wir Ihre Anforderung aufnehmen</figcaption>
            </figure>
            <figure>
              <img src="./assets/img/schaukel.jpg">
              <figcaption>Was wir gemeinsam entwickeln</figcaption>
            </figure>
            <figure>
              <img src="./assets/img/schaukel.jpg">
              <figcaption>Was der Kunde eigentlich wollte</figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-sm-6 process-grid">
        <div class="process-box">
          <div class="process-text-content">
            <h3 class="process-title">Kundschaftsorientiert, von Anfang an</h3>
            <p class="process-description">
              Wir helfen Ihnen Lösungen zu schaffen, die echten Mehrwert für Ihre Kundschaft bieten. Am Beginn eines Projekts steht daher Ihre Sicht auf die Lösung. Mit Techniken des Design Thinkings erarbeiten wir User Stories, die alle Anforderungen an das
              fertige System in strukturierter Weise aus Sicht der Nutzenden festhalten. Gerne validieren wir diese Anforderungen anschließend mit echter Kundschaft.
            </p>
          </div>
          <img class="process-design-image" src="./assets/img/sticky_notes.jpg" />
        </div>
      </div>
    </div>
    <div class="row equal">
      <div class="col-sm-6 process-grid">
        <div class="process-box process-story-card">
          <div class="process-text-content">
            <h3 class="process-title">Agile und transparente Umsetzung</h3>
            <p class="process-description">
              Im Laufe eines Projektes können sich Anforderungen verändern – agile Methoden helfen, darauf zu reagieren. Alle User Stories werden im Product Backlog verwaltet und können bei Bedarf neu priorisiert werden. Zu Beginn eines Implementierungszyklus werden
              die als nächstes umzusetzenden Stories vom Product Owner ausgewählt und gemeinsam mit dem Team in konkrete Entwicklungsobjekte übersetzt. Damit wird die Umsetzung der Anforderungen Ihrer Kundschaft bis ins fertige Produkt nachvollziehbar.
            </p>
          </div>
          <div class="process-story-area">
            <figure>
              <img src="./assets/img/backlog.png">
              <figcaption>Product Backlog</figcaption>
            </figure>

            {{> svg-arrow-right}}

            <figure>
              <img src="./assets/img/user_stories.png">
              <figcaption>User Stories</figcaption>
            </figure>

            {{> svg-arrow-right}}

            <figure>
              <img src="./assets/img/dev_blocks.png">
              <figcaption>Entwicklungsobjekte</figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-sm-6 process-grid">
        <div class="process-box">
          <div class="process-text-content">
            <h3 class="process-title">Strukturierte Prozesse & kontinuierliche Verbesserung</h3>
            <p class="process-description">
              Vor jedem Entwicklungszyklus werden die als nächstes umzusetzenden Anforderungen geklärt. Nach Abschluss der Entwicklung findet eine Präsentation der erreichten Fortschritte statt. Wenn immer möglich wird dabei direkt das entwickelte Endprodukt im aktuellen
              Zustand präsentiert. Durch das schnelle Feedback wird sichergestellt, dass die Lösung am Ende Ihren Vorstellungen entspricht. Zusätzlich wird nach jeder Entwicklung eine Retrospektive durchgeführt, um die Zusammenarbeit weiter zu verbessern.
            </p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 28">
            <defs>
              <marker id="arrowhead" markerWidth="10" markerHeight="7"
                      refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
              </marker>
            </defs>
            <path d="M 320 20 C 280 0, 70 0, 35 20" marker-end="url(#arrowhead)" stroke="black" fill-opacity="0.0"/>
          </svg>
          <div class="process-sprint-area">
            <figure>
              <img src="./assets/img/speech_bubble.png">
              <figcaption>Planung</figcaption>
            </figure>

            {{> svg-arrow-right}}

            <figure>
              <img src="./assets/img/development.png">
              <figcaption>Entwicklung</figcaption>
            </figure>

            {{> svg-arrow-right}}

            <figure>
              <img src="./assets/img/product.png">
              <figcaption>Präsentation</figcaption>
            </figure>

            {{> svg-arrow-right}}

            <figure>
              <img src="./assets/img/speech_bubble.png">
              <figcaption>Retrospektive</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
