<!-- Features -->
<div class="features-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 features section-description wow fadeIn">
                <h2>Anwendungs&shy;gebiete</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 features-box wow fadeInUp">

                <p><img src="assets/img/object-detection.jpg" /></p>
                <h3>Objekterkennung</h3>
            </div>
            <div class="col-sm-6 features-box wow fadeInDown">

                <p><img src="assets/img/nlp.png" /></p>
                <h3>Natural Language Processing</h3>
            </div>
        </div>
    </div>
</div>
