<!-- Features -->
<div class="application-area section-container">
  <div class="container">
    <h2>Anwendungs&shy;gebiete</h2>
    <div class="row">
      <div class="col-sm-6 features-box wow fadeInUp">

        <p><img src="assets/img/dsgvo.png" /></p>
        <h3>Datenschutzgrundverordnung</h3>
      </div>
      <div class="col-sm-6 features-box wow fadeInUp">

        <p><img src="assets/img/object-detection.jpg" /></p>
        <h3>Objekterkennung</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 features-box wow fadeInDown">

        <p><img src="assets/img/nlp.png" /></p>
        <h3>Natural Language Processing</h3>
      </div>
      <div class="col-sm-6 features-box wow fadeInDown">

        <p><img src="assets/img/dashboard.jpeg" /></p>
        <h3>Data Analytics</h3>
      </div>
    </div>
    <a class="btn btn-outline-primary btn-lg learn-more" href="services.html#application-areas">Lerne mehr</a>
  </div>
</div>
