<!-- Features -->
<div class="application-area section-container">
  <div class="container">
    <h2>Anwendungs&shy;gebiete</h2>
    <div class="row">
      <div class="col-sm-6 features-box wow fadeInUp">

        <p><img src="assets/img/cloud_computing.png" /></p>
        <h3>Cloud Anwendungen</h3>
      </div>
      <div class="col-sm-6 features-box wow fadeInUp">

        <p><img src="assets/img/mobile-apps.jpg" /></p>
        <h3>Mobile Apps</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 features-box wow fadeInDown">

        <p><img src="assets/img/nlp.png" /></p>
        <h3>Künstliche Intelligenz</h3>
      </div>
      <div class="col-sm-6 features-box wow fadeInDown">

        <p><img src="assets/img/dashboard.jpeg" /></p>
        <h3>Data Analytics</h3>
      </div>
    </div>
    <a class="btn btn-outline-primary btn-lg learn-more" href="services.html#application-areas">Erfahren Sie mehr</a>
  </div>
</div>
