<!-- Top content -->
<div class="top-content inverse">

  <div id="particles-container">
  </div>
  <div class="inner-bg">
    <div class="container">
      <div class="text wow fadeInUp">
        <h1 class="claim"><strong>Künstliche Intelligenz</strong> für die Herausforderungen Ihres Unternehmens</h1>
      </div>
    </div>
  </div>
  <a class="scroll-link next-section-arrow" href="#services"><i class="fa fa-angle-double-down animated infinite pulse"></i></a>

</div>
