<!-- Call to action -->
<div id="contacts" class="contacts-container {{#if fullscreen}}fullscreen{{/if}}" {{#if fullscreen}}style="margin-top:0;"{{/if}}>
  <div class="container wow fadeInUp">
    <div class="contacts">
      <h2 class="call-to-action">Legen wir los</h2>
      <!--<h2>Packen wir es an</h2>-->
      <div>
        <div class="contacts-mail">
          Schreiben Sie uns einfach über <a class="" href="mailto:info@quodera.com">info@quodera.com</a><br/>
          oder rufen Sie uns unter <a class="" href="tel:061516293640">06151 6293640</a> an.
        </div>
      </div>

      <div class="social">
        <a target="_blank" href="https://twitter.com/quodera_ai"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://twitter.com/quodera_ai"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" href="https://facebook.com/quodera"><i class="fa fa-facebook"></i></a>
      </div>

      <div class="impressum">
        <a href="impressum.html">Impressum</a>
        <span> | </span>
        <a href="privacy.html">Datenschutzerklärung</a>
        <span> | Quodera</span>
      </div>

    </div>
    <div class="go-to-start animated infinite pulse" href="#top" onclick="$('html, body').animate({ scrollTop: 0 }, 2000);">
      {{> icon-chevron-up}}
    </div>
  </div>
</div>
