<!-- Call to action -->
<div class="contacts-container">
  <div class="container wow fadeInLeftBig">
    <div class="contacts">
      <div class="top">
        <h2>Lassen Sie uns über Ihr Künstliche Intelligenz Projekt sprechen!</h2>

        <div class="contacts-mail">
          <a class="underline" href="mailto:info@quodera.com">info@quodera.com</a>
        </div>
        <div class="contacts-phone">
          <a class="contacts-phone-number" href="tel:01718468536">+49 171 83 68 536</a>
        </div>
      </div>

      <div class="bottom">
        <div class="social">
          <a target="_blank" href="https://twitter.com/quodera_ai"><i class="fa fa-twitter"></i></a>
          <a target="_blank" href="https://twitter.com/quodera_ai"><i class="fa fa-linkedin"></i></a>
          <a target="_blank" href="https://facebook.com/quodera"><i class="fa fa-facebook"></i></a>
        </div>

        <div class="impressum">
          <a href="/impressum.html">Impressum</a>
        </div>
      </div>

    </div>
  </div>
</div>
