<!-- Call to action -->
<div id="contacts" class="contacts-container">
  <div class="container wow fadeInUp">
    <div class="contacts">
      <h2 class="call-to-action">Legen wir los</h2>
      <!--<h2>Packen wir es an</h2>-->
      <div>
        <div class="contacts-mail">
          Schreiben Sie uns einfach über <a class="" href="mailto:info@quodera.com">info@quodera.com</a><br/>
          oder rufen Sie uns unter <a class="" href="tel:01718468536">+49 171 83 68 536</a> an.
        </div>
      </div>

      <div class="social">
        <a target="_blank" href="https://twitter.com/quodera_ai"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://twitter.com/quodera_ai"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" href="https://facebook.com/quodera"><i class="fa fa-facebook"></i></a>
      </div>

      <div class="impressum">
        <a href="/impressum.html">Impressum</a>
      </div>

    </div>
  </div>
  <div class="go-to-start">
    <i class="fa fa-arrow-up"></i>
  </div>
</div>
