<!-- Call to action -->
<div class="section-container section-container-image-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
                <h2>Kontakt</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
                <p>
                  Abonnieren Sie unseren Newsletter, um Neuigkeiten sofort zu erfahren.
                </p>
            </div>
        </div>
    </div>
</div>
