<div id="cookie-popup">
  <a onclick="setTracking(false);$('#cookie-popup').hide();" id="cookie-popup--close-button"></a>
  <span>Diese Seite verwendet Cookies von Drittanbietern, um Inhalte und Anzeigen zu personalisieren, Funktionen für soziale Medien anbieten zu können und die Zugriffe auf unsere Website zu analysieren. Weitere Informationen dazu finden Sie in unserer <a href="privacy.html">Datenschutzerklärung</a>.</span>
  <div class="actions">
    <button id="accept-cookies" onclick="setTracking(true);$('#cookie-popup').hide();" class="btn btn-primary">Verstanden</button>
  </div>
</div>
