<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 footer-social">
        <a target="_blank" href="https://facebook.com/quodera"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="https://twitter.com/quodera_ai"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
    <div class="row impressum-link-container">
      <a class="impressum-link" href="/impressum.html">Impressum</a>
    </div>
  </div>
</footer>
