<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-no-icon" href="index.html">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" height="40" width="182.703100125" viewBox="0 0 229.40200805664062 50.2239990234375">
                  <defs id="logo"></defs>
                  <g id="SvgjsG1009" rel="mainfill" name="main_text" xmlns:name="mainText_mainfill" fill="#ffffff" transform="translate(-2.162003993988037,-13.804000854492188)">
                    <path d="M18.998 21.803999999999995 q4.462 0 8.349 2.162 t6.072 5.934 t2.185 8.188 q0 4.508 -2.024 8.073 t-5.428 5.083 l0 0.092 l9.66 0 l0 3.864 l-18.952 0 q-6.992 0 -11.845 -4.807 t-4.853 -11.845 q0 -4.6 2.185 -8.441 t6.095 -6.072 t8.556 -2.231 z M6.854 38.17999999999999 q0 5.428 3.358 9.154 t8.648 3.726 q5.244 0 8.648 -3.657 t3.404 -9.131 q0 -5.336 -3.45 -8.832 t-8.648 -3.496 q-4.922 0 -8.441 3.519 t-3.519 8.717 z M46.275999999999996 22.631999999999998 l0 20.102 q0 4.002 2.231 6.578 t5.957 2.576 t5.957 -2.576 t2.231 -6.578 l0 -20.102 l4.416 0 l0 20.838 q0 3.358 -1.587 6.279 t-4.508 4.6 t-6.509 1.679 q-5.52 0 -9.062 -3.611 t-3.542 -8.947 l0 -20.838 l4.416 0 z M89.792 21.803999999999995 q7.268 0 12.121 4.83 t4.853 12.282 q0 4.738 -2.162 8.671 t-6.095 6.187 t-8.717 2.254 q-4.738 0 -8.648 -2.231 t-6.118 -6.164 t-2.208 -8.717 q0 -7.268 4.761 -12.19 t12.213 -4.922 z M77.51 38.916 q0 5.52 3.45 9.246 t8.832 3.726 q5.29 0 8.786 -3.68 t3.496 -9.292 q0 -5.566 -3.45 -9.269 t-8.878 -3.703 q-5.244 0 -8.74 3.68 t-3.496 9.292 z M123.97 22.631999999999998 q5.198 0 9.016 2.139 t5.842 5.865 t2.024 8.28 t-2.254 8.303 t-6.302 5.865 t-9.016 2.116 l-10.902 0 l0 -32.568 l11.592 0 z M122.59 51.059999999999995 q3.726 0 6.831 -1.449 t4.922 -4.163 t1.817 -6.532 q0 -5.52 -3.427 -8.832 t-9.085 -3.312 l-6.854 0 l0 24.288 l5.796 0 z M168.222 22.631999999999998 l0 4.14 l-16.606 0 l0 9.706 l15.456 0 l0 4.14 l-15.456 0 l0 10.442 l17.434 0 l0 4.14 l-21.85 0 l0 -32.568 l21.022 0 z M186.99 22.631999999999998 q4.784 0 7.498 2.392 t2.714 6.716 q0 3.266 -2.231 5.704 t-5.727 2.898 l-0.046 0 l9.246 14.858 l-5.52 0 l-8.28 -14.352 l-4.922 0 l0 14.352 l-4.416 0 l0 -32.568 l11.684 0 z M185.702 36.983999999999995 q3.45 0 5.129 -1.265 t1.679 -3.979 q0 -5.244 -6.808 -5.244 l-5.98 0 l0 10.488 l5.98 0 z M217.626 22.631999999999998 l13.938 32.568 l-5.152 0 l-3.266 -8.05 l-15.502 0 l-3.22 8.05 l-5.152 0 l14.352 -32.568 l4.002 0 z M209.208 43.285999999999994 l12.328 0 l-6.072 -14.95 l-0.092 0 z">
                    </path>
                  </g>
                </svg>
            </a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="scroll-link" href="#top-content">Leistungen</a></li>
                <li><a class="scroll-link" href="#features">Referenzen</a></li>
                <li><a target="_blank" href="https://medium.com/quodera">Blog</a></li>
                <li><a class="scroll-link" href="#about-us">Team</a></li>
                <li><a class="scroll-link" href="#about-us">Anfrage</a></li>
            </ul>
        </div>
    </div>
</nav>
