<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<link href="https://quodera.com/" rel="canonical" />

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico?v=2">

<!-- CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900">
<link rel="stylesheet" href="bundle.css">

<meta name="google-site-verification" content="zXcd3zL3XvNsm2jyD84gigVVwjAJ_VrKNtOsSMISdm8" />
<meta name="google-site-verification" content="abUl_pCRQxKYXoixRHB0ixTsdlytJT5-gMUQjCcWXpw" />
<meta name="google-site-verification" content="SKuyKQ0ND45ufAUQQjRrQ3LDUFUMtqJUTgHTScsuUqo" />
