<div class="section-container">
  <div class="container services-logo-container">
    <h2>Wir nutzen diese Technologien</h2>
    <div class="row text-center">
      <div class="col-sm-12 services-logo-area">
        {{> logo file="logo_python.png" name="Python" showLabel="true"}}
        {{> logo file="logo_jupyter.png" name="Jupyter Notebook" showLabel="true"}}
        {{> logo file="logo_react.png" name="React & React Native" showLabel="true"}}
        {{> logo file="logo_graphql.png" name="GraphQL" showLabel="true"}}
        {{> logo file="logo_tensorflow.png" name="TensorFlow"}}
        {{> logo file="logo_docker.png" name="Docker"}}
        {{> logo file="logo_aws.png" name="Amazon Web Services"}}
        {{> logo file="logo_azure.png" name="Microsoft Azure"}}
        {{> logo file="logo_elastic.png" name="Elastic Search"}}
        {{> logo file="logo_pytorch.png" name="PyTorch"}}
        {{> logo file="logo_javaee.png" name="Java EE"}}
        {{> logo file="logo_sql.png" name="SQL"}}
        {{> logo file="logo_nodejs.png" name="Node.js"}}
      </div>
    </div>
  </div>
</div>
