<div class="section-container">
  <div class="container services-logo-container">
    <h2>Wir nutzen diese Technologien</h2>
    <div class="row text-center">
      <div class="col-sm-12 services-logo-area">
        {{> logo file="logo_python.png" name="Python"}}
        {{> logo file="logo_jupyter.png" name="Jupyter Notebook"}}
        {{> logo file="logo_react.png" name="React"}}
        {{> logo file="logo_graphql.png" name="GraphQL"}}
        {{> logo file="logo_tensorflow.png"}}
        {{> logo file="logo_docker.png"}}
        {{> logo file="logo_aws.png"}}
        {{> logo file="logo_azure.png"}}
        {{> logo file="logo_elastic.png"}}
        {{> logo file="logo_pytorch.png"}}
      </div>
    </div>
  </div>
</div>
