<div class="container services-logo-container">
<div class="row text-center">
  <div class="col-sm-12 services-logo-area">
      {{> logo-python}}
      {{> logo-jupyter}}
      {{> logo-react}}
      {{> logo-graphql}}
      {{> logo-tensorflow}}
      {{> logo-docker}}
      {{> logo-aws}}
      {{> logo-azure}}
      {{> logo-elastic}}
      {{> logo-pytorch}}
  </div>
</div>
</div>
