<!-- Call to action -->
<div class="call-to-action-container section-container section-container-image-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
                <h2>Bleiben Sie auf dem Laufenden</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
                <p>
                  Abonnieren Sie unseren Newsletter, um Neuigkeiten sofort zu erfahren.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 section-bottom-button wow fadeInUp">
                <p>
                    <form class="form" action="save_email.php" method="post">
                        <div class="input-group">
                            <input class="form-control" name="email" type="email" placeholder="Email">
                            <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">Senden</button>
                            </span>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
