<div class="personar-case section-container">
  <div class="personar-text">

    <h3 class="personar-title">{{title}}</h3>
    <ul>
      <li class="personar-bullet">
        {{bullet1}}
      </li>
      <li class="personar-bullet">
        {{bullet2}}
      </li>
    </ul>
  </div>
  {{#if file}}<img class="personar-screenshot" src="assets/img/{{file}}">{{/if}}
</div>
