<div class="section-container">
  <div class="container">
    <div class="process-path">
      <div class="left-image-box">
        {{> icon-idea}}
      </div>
      <div class="content-box">
        {{> icon-arrow-left-bottom-crayon}}
        <h3>Kommunikation ohne Umwege</h3>
        <h4>Sie haben direkte Ansprechpartner in einem eingespielten Team.</h4>
        {{> icon-arrow-down-crayon}}
        <h3>Iterative Analyse und Entwicklung</h3>
        <h4>Gemeinsam evaluieren wir regelmäßig den Fortschritt des Projekts.</h4>
        {{> icon-arrow-iterate-crayon}}
        <h3>Enge Abstimmung und klare Verantwortlichkeiten</h3>
        <h4>Wir kennen Ihre Ziele und machen Sie zu unseren.</h4>
        {{> icon-arrow-right-crayon}}
      </div>
      <div class="right-image-box">
        {{> icon-finish-line}}
      </div>
    </div>
  </div>  
</div>
