<div class="section-container process-path-container">
  <div class="container">
    <h2>Unsere Vorgehensweise</h2>
    <div class="process-path">
      <div class="left-image-box">
        {{> icon-idea}}
      </div>
      <div class="content-box">
        <div class="icon-wrapper">{{> icon-arrow-left-bottom-crayon}}</div>
        <div class="icon-wrapper">{{> icon-arrow-straight-down-crayon}}</div>
        <h3>Kommunikation ohne Umwege</h3>
        <h4>Sie haben direkte Ansprechpartner in einem eingespielten Team.</h4>
        <div class="icon-wrapper">{{> icon-arrow-down-crayon}}</div>
        <h3>Iterative Analyse und Entwicklung</h3>
        <h4>Gemeinsam evaluieren wir regelmäßig den Fortschritt des Projekts.</h4>
        <div class="icon-wrapper">{{> icon-arrow-iterate-crayon}}</div>
        <h3>Enge Abstimmung und klare Verantwortlichkeiten</h3>
        <h4>Wir kennen Ihre Ziele und machen sie zu unseren.</h4>
        <div class="icon-wrapper">{{> icon-arrow-right-crayon}}</div>
        <div class="icon-wrapper">{{> icon-arrow-double-down-crayon}}</div>
      </div>
      <div class="right-image-box">
        {{> icon-finish-line}}
      </div>
    </div>
    <a class="btn btn-outline-primary btn-lg learn-more" href="approach.html">Lerne mehr</a>
  </div>
</div>
