<div class="reference">
  <div class="row">
    <div class="col-sm-4 {{#if pictureRight}}order-md-12{{/if}}">
      <img class="references-overview-image" src="assets/img/{{file}}">
    </div>
    <div class="col-sm-8 reference-information">

      <h3 class="reference-title">{{title}}</h3>

      <p class="reference-overview-description">
        {{description}}
      </p>

      <div class="links">
        <a href="{{linkMore}}">Mehr erfahren</a>
      </div>

    </div>
  </div>
</div>
