<div class="references-navigation-panel">
  <div class="container">
    <h2>Alle Referenzen</h2>
    <div class="references-navigation-area">
      <a href="reference_predictive_maintenance.html" class="references-navigation-wrapper">
        <div class="references-navigation-image-wrapper">
          <img class="references-navigation-image" src="assets/img/kuka.png">
        </div>
        <span>Predictive Maintenance</span>
      </a>
      <a href="reference_it_architecture_complexity.html" class="references-navigation-wrapper">
        <div class="references-navigation-image-wrapper">
          <img class="references-navigation-image" src="assets/img/complex_tree.png">
        </div>
        <span>Komplexität in IT-Architektur</span>
      </a>
      <a href="reference_company_poll.html" class="references-navigation-wrapper">
        <div class="references-navigation-image-wrapper">
          <img class="references-navigation-image" src="assets/img/conversation.png">
        </div>
        <span>Umfragen</span>
      </a>
      <a href="reference_knowledge_discovery.html" class="references-navigation-wrapper">
        <div class="references-navigation-image-wrapper">
          <img class="references-navigation-image" src="assets/img/needle_hay.jpg">
        </div>
        <span>Wissensmanagement</span>
      </a>
    </div>
  </div>
</div>
