<div class="panel panel-default references-navigation-panel">
  <div class="container">
    <div class="references-navigation-area">
  <a href="reference_predictive_maintenance.html">
    <div class="references-navigation-wrapper">
      <img class="references-navigation-image" src="assets/img/kuka.png">
      <span>Predictive Maintenance</span>
    </div>
  </a>
  <a href="reference_it_architecture_complexity.html">
    <div class="references-navigation-wrapper">
      <img class="references-navigation-image" src="assets/img/complex_tree.png">
      <span>Komplexität in IT-Architektur</span>
    </div>
  </a>
  <a href="reference_company_poll.html">
    <div class="references-navigation-wrapper">
      <img class="references-navigation-image" src="assets/img/conversation.png">
      <span>Umfragen</span>
    </div>
  </a>
  <a href="reference_knowledge_discovery.html">
    <div class="references-navigation-wrapper references-last">
      <img class="references-navigation-cropped-image" src="assets/img/needle_hay.jpg">
      <span>Wissensmanagement</span>
    </div>
  </a>
    </div>
  </div>
</div>
