<!-- Features -->
<div class="section-container services-offer">
  <div class="container">
    <h2>
      Unser Angebot
    </h2>
    <div class="row">
      <div class="col-sm-6">
        <div>
          <p>
            Kurze Innovationszyklen und ein schnelllebiges Geschäft, machen flexible Lösungen wichtig. Den Rahmen unserer Lösungen bilden deshalb Technologien, die sich in einem heterogenen Umfeld bewährt haben.
          </p>
          <p>
            Nutzende erwarten benutzerfreundliche Anwendungen auf all ihren Geräten. Technologien wie React und React Native sind dafür die Grundlage.
          </p>
          <p>
            Für die bestmögliche Sicherheit und Skalierbarkeit Ihrer Anwendungen nutzen wir als Infrastruktur die Cloud. Sie sparen damit hohe Investitionskosten und können von zukünftsfähigen Technologien profitieren.
          </p>
          <p>
            Daten sind das Gold des digitalen Zeitalters. Wir sind Experten für künstliche Intelligenz und Data Analytics und helfen Ihnen das Potential Ihrer Geschäftsprozesse und Daten zu realisieren.
          </p>
          <p>
            Wie wird die digitale Transformation und künstliche Intelligenz Ihr Unternehmen verändern? Lassen Sie uns darüber reden!
          </p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="offer-list">
          {{#each servicesOffer}}
          <div class="offer-list-item">
            <div>
              <h3>{{title}}</h3>
              <p>{{description}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>

    </div>
  </div>
</div>
