<div class="services-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 services section-description wow fadeIn">
                <h2>Wir sind Experten für <span class="underline">Künstliche Intelligenz</span> und <span class="underline">Softwareentwicklung</span></h2>
            </div>
        </div>
        <div class="row services-box">
            <div class="col-sm-4">
              <div class="services-box-icon">
                <img class="" src="./assets/img/artificial-intelligence-brain.png" aria-hidden="true"></img>
              </div>
              <h3>Entwicklung von KI Modellen</h3>
              <p>
                Wir machen Ihre Produkte intelligenter
              </p>
            </div>
            <div class="col-sm-4">
              <div class="services-box-icon">
                <img class="" src="./assets/img/industrial-robot.png" aria-hidden="true"></img>
              </div>
              <h3>Prozessautomatisierung</h3>
              <p>
                Wir machen Ihre Prozesse effizienter durch den Einsatz von KI
              </p>
            </div>
            <div class="col-sm-4">
              <div class="services-box-icon">
                <img class="" src="./assets/img/light-bulb.png" aria-hidden="true"></img>
              </div>
              <h3>Data Analytics</h3>
              <p>
                Wir decken in Ihren Daten wichtige Erkenntnisse auf
              </p>
            </div>
        </div>
    </div>
</div>
