<div id="services" class="services-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 services section-description wow fadeIn">
                <h2>Wir sind Experten für <span class="underline">Künstliche Intelligenz</span> und <span class="underline">Softwareentwicklung</span></h2>
            </div>
        </div>
        <div class="row services-box">
            <div class="col-sm-4">
              <div class="services-box-icon">
                <img class="" src="./assets/img/artificial-intelligence-brain.png" aria-hidden="true"></img>
              </div>
              <h3>Wir machen Produkte intelligenter</h3>
              <p>
                Unsere KI Modelle verbessern die Produkterfahrung Ihrer Kunden indem sie die Interaktion vereinfachen und die Erfahrung personalisieren. Ihr Unternehmen kann sich dadurch einen Wettbewerbsvorteil verschaffen und Umsätze erhöhen.
              </p>
            </div>
            <div class="col-sm-4">
              <div class="services-box-icon">
                <img class="" src="./assets/img/industrial-robot.png" aria-hidden="true"></img>
              </div>
              <h3>Wir machen Prozesse effizienter</h3>
              <p>
                 Reduzieren Sie Ihre Prozesskosten durch die Automatisierung von wiederkehrenden Aufgaben. Unsere Lösungen nutzen große Datenmengen und berücksichtigen komplexe Abhängigkeiten, um Ihre Entscheidungsprozesse besser zu unterstützen.
              </p>
            </div>
            <div class="col-sm-4">
              <div class="services-box-icon">
                <img class="" src="./assets/img/light-bulb.png" aria-hidden="true"></img>
              </div>
              <h3>Wir machen Potentiale sichtbar</h3>
              <p>
                Planen Sie besser mit Vorhersagen, die aus Ihren Daten lernen. Wichtige Zusammenhänge lassen sich automatisiert überwachen und analysieren. Wo Systeme Muster erkennen, können Sie Handlungsbedarf ableiten und schneller reagieren.
              </p>
            </div>
        </div>
    </div>
</div>
