<div id="services" class="services-container section-container">
  <div class="container">
    <h2>Wir sind Experten für <span class="underline">Künstliche Intelligenz</span> und <span class="underline">Softwareentwicklung</span></h2>
    <div class="row services-box">
      <div class="col-sm-4">
        <div class="services-box-icon">
          {{> icon-artificial-intelligence-brain}}
          <!--<img class="" src="./assets/img/artificial-intelligence-brain.png" aria-hidden="true"></img>-->
        </div>
        <h3 class="highlight">Wir machen Produkte intelligenter</h3>
        <p>
          Unsere KI Modelle verbessern die Produkt&shy;erfahrung Ihrer Kunden, indem sie die Inter&shy;aktion ver&shy;ein&shy;fachen und die Er&shy;fahrung per&shy;sonalisieren. Ihr Unter&shy;nehmen kann sich dadurch einen Wett&shy;bewerbs&shy;vorteil ver&shy;schaffen und Umsätze erhöhen.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="services-box-icon">
          {{> icon-industrial-robot}}
          <!--<img class="" src="./assets/img/industrial-robot.png" aria-hidden="true"></img>-->
        </div>
        <h3 class="highlight">Wir machen Prozesse effizienter</h3>
        <p>
          Reduzieren Sie Ihre Prozess&shy;kosten durch die Auto&shy;ma&shy;tisierung von wieder&shy;kehrenden Auf&shy;gaben. Unsere Lösungen nutzen große Daten&shy;mengen und berück&shy;sichtigen kom&shy;plexe Abhängig&shy;keiten, um Ihre Ent&shy;scheidungs&shy;prozesse besser zu unter&shy;stützen.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="services-box-icon">
          {{> icon-light-bulb}}
          <!--<img class="" src="./assets/img/light-bulb.png" aria-hidden="true"></img>-->
        </div>
        <h3 class="highlight">Wir machen Potentiale sichtbar</h3>
        <p>
          Planen Sie besser mit Vor&shy;her&shy;sagen, die aus Ihren Daten lernen. Wichtige Zusammen&shy;hänge lassen sich automatisiert über&shy;wachen und analy&shy;sieren. Wo Systeme Muster erkennen, können Sie Handlungs&shy;bedarf ableiten und schneller reagieren.
        </p>
      </div>
    </div>
    <a class="btn btn-outline-primary btn-lg learn-more" href="services.html">Erfahren Sie mehr</a>
  </div>
</div>
