<!-- Support -->
<div class="support-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 features section-description wow fadeIn">
                <h2>Unterstützt von</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
          <div class="supporters">
            <div class="col-sm-3">
              <img class="support-logo" style="padding-left: 0;padding-right: 0;" src="assets/img/tud_logo.png" alt="Technische Universität Darmstadt" />
            </div>
            <div class="col-sm-3">
              <img class="support-logo" style="padding-top: 10px;padding-bottom: 10px;" src="assets/img/highest_logo.jpg" alt="Highest Darmstadt" />
            </div>
            <div class="col-sm-3">
              <img class="support-logo" style="padding-top: 10px;padding-bottom: 10px;" src="assets/img/bmwi_logo_de.svg" alt="Bundesministerium für Wirtschaft und Energie" />
            </div>
            <div class="col-sm-3">
              <img class="support-logo" style="padding-top: 10px;padding-bottom: 10px;" src="assets/img/logo_esf_de.svg" alt="Logo: Europäischer Sozialfonds für Deutschland - Führt zur Startseite" />
            </div>
          </div>
        </div>
    </div>
</div>
