<!-- About us -->
<div class="about-us-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 about-us section-description wow fadeIn">
                <h2>Team</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 about-us-box wow fadeInUp">
                <h3>Nils Siegfried</h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>-->
                <div class="about-us-social">
                    <!--<a target="_blank" href="#"><i class="fa fa-xing"></i></a>-->
                    <a target="_blank" href="https://www.linkedin.com/in/nilssiegfried"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-sm-4 about-us-box wow fadeInDown">
                <h3>Lucas Pradel</h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>-->
                <div class="about-us-social">
                    <a target="_blank" href="https://www.xing.com/profile/Lucas_Pradel"><i class="fa fa-xing"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/lucas-pradel"><i class="fa fa-linkedin"></i></a>
                    <a target="_blank" href="https://twitter.com/learnerbyheart"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-sm-4 about-us-box wow fadeInUp">
                <h3>Moritz Kohlhase</h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>-->
                <div class="about-us-social">
                    <!--<a target="_blank" href="#"><i class="fa fa-xing"></i></a>-->
                    <a target="_blank" href="https://www.xing.com/profile/Moritz_Kohlhase"><i class="fa fa-xing"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
