<div class="welcome-section">
  <div class="container">
    <h2>Aus <span class="underline">Daten und Ideen</span> schaffen wir konkrete <span class="underline">Lösungen</span>.</h2>
    <h3>Mit unseren Kunden arbeiten wir an Projekten aus verschiedensten Bereichen. Erfahren Sie mehr über bisherige Projekte.</h3>
  </div>
</div>
