/***** Top content *****/

.top-content {
  background: #4d85cd;
  background: -moz-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: -webkit-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: linear-gradient(135deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d85cd', endColorstr='#2d52cc',GradientType=1 );
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    display: flex;
  	color: #fff;
  }

  .text h1 {
    color: #fff;
  }

  .description {
  	margin: 20px 0 10px 0;
  }

  .description p {
    opacity: 0.8;
  }

  .top-big-link {
  	margin-top: 35px;
  }

  .claim {
    margin-top: 40px;
  }

  #particles-container canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .next-section-arrow {
    position: absolute;
    bottom: 20px;
    font-size: 40px;
    color: white;
    &:hover, &:focus {
      color: white;
    }
  }

}

.top-content-no-icon {
    fill-opacity: 0;
}
