/***** Top content *****/

.inner-bg {
    padding: 280px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .top-big-link {
	margin-top: 35px;
}

.top-content {
  background: #4d85cd;
  background: -moz-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: -webkit-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: linear-gradient(135deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d85cd', endColorstr='#2d52cc',GradientType=1 );
  min-height: 100vh;
}

.top-content #particles-container canvas {
  position: absolute;
  display: block;
}

.top-content-no-icon {
    fill-opacity: 0;
}

.top-content .claim {
  margin-top: 40px;
}
