/***** Contacts *****/
.contacts-container {
  //.background();
  font-weight: 200;
  //color: white;
  box-shadow: inset 0 3px 9px -3px rgb(234, 232, 232);
  padding-top: 40px;
  position: relative;
  background: rgb(248, 248, 248);

  .contacts-mail {
    font-size: 25px;
    line-height: 60px;
    a {
      font-weight: 300;
      color: @color-primary;
      display: inline-block;
    }
  }

  .social {
    margin-top: 80px;
    font-size: 30px;
    a {
      color: @color-primary;
      margin: 0 15px;
    }
  }

  .impressum {
    padding-top: 30px;
    padding-bottom: 20px;
    a {
      color: @text-color-primary;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .call-to-action {
    font-size: 40px;
    margin-bottom: 40px;
    color: @color-primary;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    //color: white;
    &:hover, &:focus {
      text-decoration: none;
      //color: white;
    }
  }
}

.go-to-start {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 30px;
  right: 20px;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 100%;
  line-height: 36px;
}
