/***** Contacts *****/
.contacts-container {
  font-weight: 200;
  box-shadow: inset 0 3px 9px -3px rgb(234, 232, 232);
  padding-top: 40px;
  margin-top: 80px;
  @media @mobile {
    margin-top: 20px;
  }
  padding-bottom: 30px;
  position: relative;
  background: rgb(248, 248, 248);

  &.fullscreen {
    padding-top: 150px;
    height: 100vh;
    @media @mobile {
      padding-top: 100px;
    }
    .go-to-start {
      display: none;
    }
  }

  .contacts-mail {
    font-size: 25px;
    line-height: 60px;
    a {
      font-weight: 300;
      color: @color-primary;
      display: inline-block;
    }
  }

  .social {
    margin-top: 80px;
    font-size: 30px;
    a {
      color: @color-primary;
      margin: 0 15px;
    }
  }

  .impressum {
    padding-top: 30px;
    padding-bottom: 20px;
    a {
      color: @text-color-primary;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .call-to-action {
    font-size: 40px;
    margin-bottom: 40px;
    color: @color-primary;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    //color: white;
    &:hover, &:focus {
      text-decoration: none;
      //color: white;
    }
  }
}

.go-to-start {
  position: absolute;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  line-height: 1;
  @media @mobile {
    & {
      position: initial;
    }
  }
  svg {
    height: 30px;
    width: 30px;
    fill: @text-color-primary;
    transition: fill 0.3s ease-in-out;
  }
  &:hover {
    svg {
      fill: @color-primary;
    }
  }
}
