/***** Contacts *****/
.contacts-container {
  background: #4d85cd;
  background: -moz-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: -webkit-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: linear-gradient(135deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d85cd', endColorstr='#2d52cc',GradientType=1 );
  font-weight: 200;
  color: white;
  box-shadow: inset 0 3px 9px -3px rgba(0,0,0,0.7);
  padding-top: 40px;
  position: relative;

  .contacts-mail {
    font-size: 30px;
    line-height: 60px;
  }

  .social {
    margin-top: 80px;
    font-size: 30px;

    a {
      margin: 0 15px;
    }
  }

  .impressum {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .call-to-action {
    font-size: 60px;
    margin-bottom: 40px;
  }

  a {
    text-decoration: none;
    color: white;
    &:hover, &:focus {
      text-decoration: none;
      color: white;
    }
  }
}

.go-to-start {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 30px;
  right: 20px;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 100%;
  line-height: 36px;
}
