svg#process-path {
  .title {
    font-size: 30px;
    color: @text-color-primary;
    font-weight: 500;
  }
  .subtitle {
    font-size: 22px;
    color: @text-color-secondary;
  }
  .idea {
    fill: @text-color-primary;
    .shine {
    }
  }
  .line {
    stroke: @text-color-secondary;
  }
}
