/***** References *****/

.references-h3 {
  text-transform: none;
  line-height: normal;
  font-family: BentonSans-Medium;
  font-size: 45px;
}

.references-overview-image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.references-overview-cropped-image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.references-overview-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}

.references-top-spacer {
  padding-top: 80px;
}

.references-overview-description {
  font-family: BentonSans-Medium;
  font-size: 20px;
}

.references-logo {
  width: auto;
  height:40px;
}

.references-logo-wrapper {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 15px;
}

.references-detail-header {
  margin-bottom: 30px;
}

.references-detail-description {
  font-family: BentonSans-Medium;
  font-size: 15px;
  text-align: justify;
}

.references-logo-area {
  text-align: left;
  margin-top: 25px;
}

.references-detail-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
}

.references-detail-cropped-image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.references-detail-image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.references-navigation-panel {
  margin-top: 100px;

  @media @mobile {
    display: none;
  }
}

.references-navigation-area {
  display: flex;
  justify-content: space-around;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 120px;
}

.references-navigation-wrapper {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  height:100%;
}

.references-navigation-wrapper:hover {
  background: #4d85cd;
  color: white;
}

.references-navigation-wrapper:hover img {
  background: #4d85cd;
  color: white;
  opacity: 1;
  filter: none;
}

.references-navigation-area a {
  text-decoration: none;
  color: black;
}

.references-navigation-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 50px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.references-navigation-cropped-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.references-last {
  border-right: none;
}

@font-face {
  font-family: 'BentonSans-Medium';
  src: url('./fonts/BentonSans-Medium.woff') format('woff'),
  url('./fonts/BentonSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
