/***** Services *****/

.services-box {
	margin-top: 40px;
}

.services-box .services-box-icon img {
  height: 100px;
  margin: 0 auto;
}

.services-box .services-box-icon:hover {
	background: #3ECF8E;
}

.services-box h3 {
  color: #2d52cc;
  font-weight: 400;
	margin-top: 15px;
	padding: 10px 0;
}
