body {
  /*font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Exo 2', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
  line-height: 30px;
  text-align: center;
}
strong {
  font-weight: 500;
}
a,
a:hover,
a:focus {
  color: #2d52cc;
  text-decoration: underline;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}
h1 {
  margin-top: 10px;
  font-size: 48px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
  text-transform: uppercase;
}
h2 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 100;
}
h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}
img {
  max-width: 100%;
}
.medium-paragraph {
  font-size: 18px;
  line-height: 32px;
}
.colored-text {
  color: #3ECF8E;
}
::-moz-selection {
  background: #3ECF8E;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #3ECF8E;
  color: #fff;
  text-shadow: none;
}
/***** General style, all sections *****/
.section-container {
  margin: 0 auto;
  padding-bottom: 80px;
}
.section-container-gray-bg {
  background: #f8f8f8;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}
.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
  color: #fff;
}
.section-container-image-bg .divider-1 span {
  border-color: #fff;
}
.section-description {
  margin-top: 100px;
  padding-bottom: 10px;
}
.section-description p {
  margin-top: 20px;
  padding: 0 120px;
}
.section-container-image-bg .section-description p {
  opacity: 0.8;
}
.section-bottom-button {
  padding-top: 60px;
}
.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #3ECF8E;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.btn-link-1:hover,
.btn-link-1:focus,
.btn-link-1:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}
.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #444;
  background: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.btn-link-2:hover,
.btn-link-2:focus,
.btn-link-2:active,
.btn-link-2:active:focus {
  outline: 0;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.btn.btn-primary {
  background-color: #3ECF8E;
  border-color: #3ECF8E;
}
/***** Divider *****/
.divider-1 span {
  display: inline-block;
  width: 200px;
  border-bottom: 1px dotted #aaa;
}
/***** Media Query Defnitions *****/
/***** Top content *****/
.inner-bg {
  padding: 280px 0;
}
.top-content .text {
  color: #fff;
}
.top-content .text h1 {
  color: #fff;
}
.top-content .description {
  margin: 20px 0 10px 0;
}
.top-content .description p {
  opacity: 0.8;
}
.top-content .top-big-link {
  margin-top: 35px;
}
.top-content {
  background: #4d85cd;
  background: -moz-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: -webkit-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: linear-gradient(135deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d85cd', endColorstr='#2d52cc', GradientType=1);
  min-height: 100vh;
}
.top-content #particles-container canvas {
  position: absolute;
  display: block;
}
.top-content-no-icon {
  fill-opacity: 0;
}
.top-content .claim {
  margin-top: 40px;
}
/***** Top menu *****/
.navbar {
  margin-bottom: 0;
  background: #444;
  background: #4d85cd;
  background: -moz-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: -webkit-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: linear-gradient(135deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d85cd', endColorstr='#2d52cc', GradientType=1);
  border: 0;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
}
.navbar.navbar-no-bg {
  background: none;
}
.navbar-no-icon {
  display: none;
}
ul.navbar-nav {
  font-size: 16px;
  color: #fff;
}
.navbar-inverse ul.navbar-nav li a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  opacity: 0.8;
}
.navbar-inverse ul.navbar-nav li a:hover {
  color: #fff;
  opacity: 1;
}
.navbar-inverse ul.navbar-nav li a:focus {
  color: #fff;
  outline: 0;
  opacity: 1;
}
.navbar-brand {
  height: initial;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
}
.navbar-show-bg {
  background: #444 !important;
  background: #4d85cd !important;
  background: -moz-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%) !important;
  background: -webkit-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%) !important;
  background: linear-gradient(135deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d85cd', endColorstr='#2d52cc', GradientType=1);
}
.navbar-header {
  position: absolute;
  left: 20px;
}
.navbar .container {
  display: flex;
  justify-content: center;
}
/***** Contacts *****/
.contacts-container {
  background: #4d85cd;
  background: -moz-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: -webkit-linear-gradient(-45deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  background: linear-gradient(135deg, #4d85cd 0%, #2d52cc 64%, #2d52cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d85cd', endColorstr='#2d52cc', GradientType=1);
  font-weight: 200;
  color: white;
}
.contacts-container .container {
  height: 100vh;
}
.contacts-container .contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contacts-container .top {
  margin-top: 120px;
}
.contacts-container .bottom {
  margin-bottom: 30px;
}
.contacts-container .contacts-mail {
  font-size: 60px;
}
.contacts-container .contacts-phone {
  margin-top: 100px;
}
.contacts-container .contacts-phone-number {
  font-size: 40px;
}
.contacts-container .social {
  margin-top: 40px;
  font-size: 30px;
}
.contacts-container .social a {
  margin: 0 15px;
}
.contacts-container .impressum {
  margin-top: 40px;
}
.contacts-container h2 {
  margin-bottom: 150px;
}
.contacts-container a {
  text-decoration: none;
  color: white;
}
.contacts-container a:hover,
.contacts-container a:focus {
  text-decoration: none;
  color: white;
}
/***** Services *****/
.services-box {
  margin-top: 40px;
}
.services-box .services-box-icon img {
  height: 100px;
  margin: 0 auto;
}
.services-box .services-box-icon:hover {
  background: #3ECF8E;
}
.services-box h3 {
  color: #2d52cc;
  font-weight: 400;
  margin-top: 15px;
  padding: 10px 0;
}
/***** References *****/
.references-h3 {
  text-transform: none;
  line-height: normal;
  font-family: BentonSans-Medium;
  font-size: 45px;
}
.references-overview-image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.references-overview-cropped-image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.references-overview-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}
.references-top-spacer {
  padding-top: 80px;
}
.references-overview-description {
  font-family: BentonSans-Medium;
  font-size: 20px;
}
.references-logo {
  width: auto;
  height: 40px;
}
.references-logo-wrapper {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 15px;
}
.references-detail-header {
  margin-bottom: 30px;
}
.references-detail-description {
  font-family: BentonSans-Medium;
  font-size: 15px;
  text-align: justify;
}
.references-logo-area {
  text-align: left;
  margin-top: 25px;
}
.references-detail-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
}
.references-detail-cropped-image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.references-detail-image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.references-navigation-panel {
  margin-top: 100px;
}
@media only screen and (max-width: 767px) {
  .references-navigation-panel {
    display: none;
  }
}
.references-navigation-area {
  display: flex;
  justify-content: space-around;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 120px;
}
.references-navigation-wrapper {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 100%;
}
.references-navigation-wrapper:hover {
  background: #4d85cd;
  color: white;
}
.references-navigation-wrapper:hover img {
  background: #4d85cd;
  color: white;
  opacity: 1;
  filter: none;
}
.references-navigation-area a {
  text-decoration: none;
  color: black;
}
.references-navigation-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 50px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.references-navigation-cropped-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.references-last {
  border-right: none;
}
@font-face {
  font-family: 'BentonSans-Medium';
  src: url('fonts/BentonSans-Medium.woff') format('woff'), url('fonts/BentonSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.process-box {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 10px 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  height: 100%;
  position: relative;
}
.process-grid {
  padding-left: 0px;
  padding-right: 0px;
}
.process-title {
  text-align: left;
  font-weight: 400;
}
.process-description {
  text-align: justify;
}
.row.equal {
  display: flex;
  flex-wrap: wrap;
}
.row.equal > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
/****** Card 1 Figure Swing ***/
.process-swing-area {
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  padding-right: 12px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .process-swing-area {
    position: static;
    bottom: auto;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
.process-swing-area figure {
  max-width: 25%;
}
.process-swing-area figcaption {
  font-size: smaller;
  line-height: normal;
  margin-top: 2px;
}
.process-swing-area img {
  border: 1px solid black;
  max-height: 120px;
}
/****** Card 2 Figure Sticky Notes***/
.process-design-image {
  object-fit: cover;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  height: 150px;
  width: 100%;
}
/****** Card 3 Figure User Stories ***/
.process-story-area svg {
  width: 10%;
  max-height: 75px;
}
.process-story-area img {
  max-height: 75px;
  width: auto;
}
.process-story-area {
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  padding-right: 12px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .process-story-area {
    position: static;
    bottom: auto;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
.process-story-area figcaption {
  font-size: smaller;
  line-height: normal;
  margin-top: 2px;
}
/****** Card 4 Figure Sprints ***/
.process-sprint-area svg {
  width: 10%;
  max-height: 75px;
}
.process-sprint-area {
  display: flex;
  justify-content: center;
}
.process-sprint-area figcaption {
  font-size: smaller;
  line-height: normal;
  margin-top: 2px;
}
.process-sprint-area figure {
  min-width: 10%;
}
.process-sprint-area img {
  max-height: 75px;
  width: auto;
}
@media (max-width: 767px) {
  .navbar-brand {
    margin-left: 15px;
  }
  .navbar-collapse {
    border: 0;
  }
  .navbar-inverse ul.navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .inner-bg {
    padding: 140px 0;
  }
  .top-content .top-big-link {
    margin-top: 25px;
  }
  .top-content .top-big-link a.btn {
    margin-top: 10px;
  }
  .section-description p {
    padding: 0;
  }
  .more-features-box-text {
    margin-top: 30px;
    padding-left: 0;
    text-align: center;
  }
  .more-features-box-text:first-child {
    margin-top: 50px;
  }
  .more-features-box-text-icon {
    float: none;
    display: inline-block;
  }
  .more-features-box-text h3 {
    float: none;
    width: auto;
    margin-top: 20px;
  }
  .more-features-box-text-description {
    float: none;
    width: auto;
  }
  .great-support-box-text {
    margin-top: 30px;
    padding-left: 0;
    text-align: center;
  }
  .great-support-box-text-left {
    padding-right: 0;
  }
  .footer-social a {
    margin: 5px;
  }
}
@media (max-width: 415px) {
  h1,
  h2 {
    font-size: 32px;
  }
}
